/* Modal Trigger Button */
.password-modal-container {
    text-align: center;
  
    

  }
  
  .password-modal-container .btn-primary {
    background-color: #FF9933;
    border-color: #FF9933;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
  }
  
  .password-modal-container .btn-primary:hover {
    background-color: #e68a00;
  }
  
  /* Modal Styles */
  .modal-header {
    border-bottom: 1px solid #ddd;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .modal-footer {
    border-top: 1px solid #ddd;
  }
  
  /* Form Group Styling */
  .pass-form {
    margin-bottom: 20px;
  }
  
  .pass-form label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #555;
    
    display: block;
    
  }
  

  
  .input-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #FF9933;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 153, 51, 0.3);
  }
  .pass-modal{
    margin-top: 150px;
  }
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #FF9933;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .toggle-password:hover {
    color: #e68a00;
  }
  
  /* Modal Buttons */
  
  .modal-footer .btn-primary {
    background-color: #FF9933;
    border: none;
  }
  
  .modal-footer .btn-primary:hover {
    background-color: #e68a00;
  }
  